.contact {
    background-color: white;
    text-align: center;
    transition: all 1s ease;
}

.contact .aboutdesc{
   margin-bottom: 100px;
}

.contact h2 {
    font-size: 80px;
    overflow: hidden;
}

.contact h4 {
    overflow: hidden;
}

.contact form {
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.contact form .textinput{
    width: 500px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.contact form button {
    width: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 10px;
}




