.contact {
    background: linear-gradient(#EB8242, #E6A157);
    text-align: center;
    transition: all 1s ease;
    color: #F2EEE5;
}

.contact .aboutdesc{
   margin-bottom: 100px;
}

.contact h2 {
    font-size: 80px;
    overflow: hidden;
    margin-top: 40px;
}

.contact h4 {
    overflow: hidden;
}

.contact form {
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.contact form .textinput{
    width: 500px;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: #E7F0C3;
    border: none;
}

.contact form button {
    width: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 10px;
}




