.work {
    background: linear-gradient(white, rgb(250, 217, 145), rgb(250, 204, 145), rgb(231, 156, 126),rgb(231, 126, 126));
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.work .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;
}

.work .arrow.left{
    left: 100px;
    transform: rotateY(180deg);
}

.work .arrow.right{
    right: 100px;
}

.work .slider {
    height: 500px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease;
}

.work .slider .containerWork {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work .slider .containerWork .item{
    width: 1000px;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work .slider .containerWork .item .left {
    flex: 4;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work .slider .containerWork .item .left .leftContainer {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.work .slider .containerWork .item .left .leftContainer .imgContainer{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(245, 179, 155);
    display: flex;
    align-items: center;
    justify-content: center;
}

.work .slider .containerWork .item .left .leftContainer .imgContainer img{
    width: 25px;
}

.work .slider .containerWork .item .left .leftContainer h2{
    font-size: 20px;
}

.work .slider .containerWork .item .left .leftContainer p{
    font-size: 13px;
}

.work .slider .containerWork .item .left .leftContainer span{
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}

.work .slider .containerWork .item .right {
    flex: 8;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.work .slider .containerWork .item .right img{
    transform: rotate(-10deg);
    width: 500px;
}