.testimonials {
    background: #E6A157;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #F2EEE5;
}

.testimonials form{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.testimonials form input{
    width: 300px;
    border-top: 0;
    border-left: 0;
    border-bottom: 3px solid gray;
    background-color: #E7F0C3;
}

.testimonials form button{
    border-radius: 50%;
    border: none;
}

.testimonials h1 {
    font-size: 80px;
    overflow: hidden;
}

.testimonials h3 {
    font-size: 50px;
    overflow: hidden;
    text-align: center;
}







